{foreach $authenticationKeys as $key}
    <meta n:if="$key" name="google-site-verification" content="{$key}"/>
{/foreach}

<!-- Global site tag (gtag.js) -->
{if $id}
<script async src="https://www.googletagmanager.com/gtag/js?id={$id}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag(){ dataLayer.push(arguments);}
    gtag('js', new Date());
</script>
{/if}