web:
    hooks:
        googleApi:
            title: "GoogleApi"
            analytics:
                title: "Google Analytics"
                clientId: "Client Id"
            webMaster:
                title: "Web Master"
                hash: "Hash code"