web:
    hooks:
        googleApi:
            title: "GoogleApi"
            authentication: "Ověření"
            appliesTo: "Platí pro"
            analytics:
                title: "Google Analytics"
                clientId: "Id klienta"
            webMaster:
                title: "Web Master"
                key: "Ověřovací klíč"
            merchant:
                title: "Google Nákupy"
                key: "Ověřovací klíč"
            adWords:
                title: "AdWords"
                conversionId: "Váš \"google_conversion_id\""
                conversionLabel: "Váš \"google_conversion_label\""
            ads:
                title: "Adsense"
                id: "Váš Adsense Id"