web:
    hooks:
        googleApi:
            title: "GoogleApi"
            analytics:
                title: "Google Analytics"
                clientId: "Id klienta"
            webMaster:
                title: "Web Master"
                hash: "Hash kód"
            adWords:
                title: "AdWords"
                conversionId: "Váš \"google_conversion_id\""
                conversionLabel: "Váš \"google_conversion_label\""